<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>国际邮轮度假中心  产品介绍</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cruiseLiner.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            $('.prod_detailinfoTitle').click(function(){
                if($(this).next().is(':hidden')){
                    $(this).next().show();
                    $(this).find('.arrowdown').removeClass('arrowdown').addClass('arrowup');
                }else{
                    $(this).next().hide();
                    $(this).find('.arrowup').removeClass('arrowup').addClass('arrowdown');
                }
            });

            $('.propulley_detailinfoTitle').click(function(){
                if($(this).next().is(':hidden')){
                    $(this).next().show();
                    $(this).addClass('propulley_spread');
                    $(this).find('.arrowdown').removeClass('arrowdown').addClass('arrowup');
                }else{
                    $(this).next().hide();
                    $(this).removeClass('propulley_spread');
                    $(this).find('.arrowup').removeClass('arrowup').addClass('arrowdown');
                }
            });

        });
    </script>
</head>

<body>
<!--标题-->
<div class="title01">
    <a href="javascript:history.go(-1);" style="text-decoration:none;">
        <i class="loginico02"></i>
    </a>
    <span><%=product.title%></span>
    <a href="#" class="loginico03"></a></span>
</div>
<!--内容部分-->
<div class="cont01">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <%for(var i in images){ %>
            <%if(i==0){%>
            <div class="item active">
                <img src="<%=images[i].url%>" alt="...">
                <div class="productlist_advinfo">
                    <div class="advname"><p><%=product.title%></p></div>
                    <div class="advnum">
                        <p class="codenum"><%=product.productNumber%></p>
                        <p class="price"><dfn>&yen;30800</dfn>起</p>
                    </div>
                </div>
            </div>
            <%} else{%>
            <div class="item">
                <img src="<%=images[i].url%>" alt="...">
                <div class="productlist_advinfo">
                    <div class="advname"><p><%=product.title%></p></div>
                    <div class="advnum">
                        <p class="codenum"><%=product.productNumber%></p>
                        <p class="price"><dfn>&yen;30800</dfn>起</p>
                    </div>
                </div>
            </div>
            <%}%>
            <%}%>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--切换部分-->
<div class="recomBox">
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs pronav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#PreferentialRoutes" aria-controls="PreferentialRoutes" role="tab" data-toggle="tab">产品介绍</a></li>
            <li role="presentation"><a href="#routeFeature" aria-controls="routeFeature" role="tab" data-toggle="tab">行程说明</a></li>
            <li role="presentation"><a href="#EarlyPreferential" aria-controls="EarlyPreferential" role="tab" data-toggle="tab">游轮介绍</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content recomtab-content "  style="margin-bottom:80px;">
            <!--产品信息tab-->
            <div role="tabpanel" class="tab-pane active" id="PreferentialRoutes">
                <div class="proinfo_info">
                    <h3><%=product.title%></h3>
                    <h4><span class="wordIcon"><%=product.type==1?"单船票":"团队游"%></span>【<%=product.startLocation%>出发】出发日期：<%=product.startDate%></h4>
                    <p><%=product.route%></p>
                </div>
                <div class="proinfo_topdash">
                    <h3>推荐理由</h3>
                    <p>1.【济州民俗自然史博物馆】落成于1984年的济州民俗自然史博物馆展示着原本散落在济州道内的传统民俗遗物、自然史迹等珍贵物品和资料。</p>
                    <p>2.【新罗免税店】自由活动。</p>
                    <p>3.【龙头岩】龙头岩是由200年前汉拿山喷出的熔岩堆积而形成的，因岩石形状像浮上海面的龙头，所以取名为龙头岩。</p>
                </div>
                <!--舱型价格-->
                <div class="proinfo_listbox">
                    <h3>舱型价格</h3>
                    <ul>
                        <%for(var i in cabins){%>
                        <li>
                            <div class="imgbox"><img src="<%=cabins[i].imageUrl%>" ></div>
                            <div class="rightinfo">
                                <h4><%=cabins[i].cabinType%></h4>
                                <div class="info"><p><%=cabins[i].size%>，<%=cabins[i].facility.substr(0,25)%></p><p><%=cabins[i].decks%></p></div>
                                <div class="priceinfo"><dfn>¥<%=cabins[i].startingPrice%></dfn>起<a href="#" class="linkbt">立即预订</a></div>
                            </div>
                        </li>
                        <%}%>
                    </ul>
                </div>
                <!--费用说明-->
                <div class="prod_detailinfoTitle"><i class="proinfo_icoprice"></i><h5 class="arrowdown">费用说明</h5></div>
                <div class="prod_detailinfobox">
                    <div class="prod_detailinfo">
                        <h5>费用包含</h5>
                        <%for(var i in fees.includedFees){%>
                        <p><%=parseInt(i)+1%>.<%=fees.includedFees[i].name%>&nbsp;<%=fees.includedFees[i].comment%></p>
                        <%}%>
                        <h5>费用不包含</h5>
                        <%for(var i in fees.excludedFees){%>
                        <p><%=parseInt(i)+1%>.<%=fees.excludedFees[i].name%>&nbsp;<%=fees.excludedFees[i].comment%></p>
                        <%}%>
                    </div>
                </div>
                <!--预订须知-->
                <div class="prod_detailinfoTitle"><i class="proinfo_icoorder"></i><h5 class="arrowdown">预订须知</h5></div>
                <div class="prod_detailinfobox">
                    <div class="prod_detailinfo">
                        <%-product.bookingNote%>
                    </div>
                </div>
                <!--签证说明-->
                <div class="prod_detailinfoTitle"><i class="proinfo_icovisa"></i><h5 class="arrowdown">签证说明</h5></div>
                <div class="prod_detailinfobox">
                    <div class="prod_detailinfo">
                        <%-product.visaComment%>
                    </div>
                </div>

            </div>
            <!--行程说明-->
            <div role="tabpanel" class="tab-pane" id="routeFeature">
                <div class="protrip_box">
                    <%for(var i in travelSchedule){%>
                    <div class="tripbox cur">
                        <div class="tripTitle">
                            <div class="dotico"></div>
                            <h3>第<%=travelSchedule[i].dayNumber%>天 <%=travelSchedule[i].location%></h3>
                            <h4><span class="arrive"><%=travelSchedule[i].arrivalTime%></span><span class="sail"><%=travelSchedule[i].departureTime%></span><i class="arrow"></i></h4>
                            <div class="tripinfo"><%=travelSchedule[i].description%></div>
                        </div>
                    </div>
                    <%}%>
                </div>
                <!--提示-->
                <div class="protrip_notice">
                    <h4>提示</h4>
                    <p>我们会在出发前2-3个工作日组织召开出团说明会，望您能抽空参加，具体时间以短信通知为准。 </p>
                </div>
                <!--岸上游行程-->
                <div class="prod_detailinfoTitle"><i class="proinfo_icotrip"></i><h5 class="arrowdown">岸上游行程</h5></div>
                <div class="prod_detailinfobox">
                    <div class="prod_detailinfo">
                        <%-product.excursion%>
                    </div>
                </div>
            </div>
            <!--游轮介绍-->
            <div role="tabpanel" class="tab-pane" id="EarlyPreferential">
                <div class="propulleybox">
                    <div class="pulleytab">
                        <h3><%=product.shipCompany%> · <%=product.shipName%></h3>
                        <!--<h4>Mariner of the Seas<div class="starlevel"></div></h4>-->
                        <ul>
                            <li><p><strong>船籍：</strong>巴哈马</p></li>
                            <li><p><strong>加班数：</strong>18层</p></li>
                            <li><p><strong>吨位：</strong>15,,000吨</p></li>
                            <li><p><strong>载客数：</strong>5400人</p></li>
                            <li><p><strong>长宽：</strong>360米/47米</p></li>
                            <li><p><strong>房间数：</strong>2700间</p></li>
                        </ul>
                    </div>
                    <div class="pulleytabinfo">海洋水手号 Mariner of the Seas邮轮上的超大空间睥睨世界其他所有邮轮。超大的空间使创新更容易，各种新颖设施仅可见于航行者系列的海洋水手号邮轮，舱房种类选择也更多样化，此外海洋水手号邮轮上更有前所未见最大的个人单位空间比例。</div>
                </div>
                <!--舱房类型-->
                <div class="propulley_detailinfoTitle"><i class="propulley_icoproom"></i><h5 class="arrowdown">舱房类型</h5></div>
                <div class="propulley_detailinfobox">
                    <div class="proinfo_listbox propulley_listbox">
                        <ul>
                            <%for(var i in cabins){%>
                            <li>
                                <div class="imgbox"><img src="<%=cabins[i].imageUrl%>" ></div>
                                <div class="rightinfo">
                                    <h4><%=cabins[i].cabinType%></h4>
                                    <div class="info"><p><%=cabins[i].size%></p><p><%=cabins[i].decks%></p></div>
                                    <div class="detailinfo"><%=cabins[i].facility%></div>
                                </div>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                </div>

                <!--娱乐设施-->
                <div class="propulley_detailinfoTitle"><i class="propulley_icomusic"></i><h5 class="arrowdown">娱乐设施</h5></div>
                <div class="propulley_detailinfobox">
                    <div class="proinfo_listbox propulley_listbox">
                        <ul>
                            <%for(var i in entertainment){%>
                            <li>
                                <div class="imgbox"><img src="<%=entertainment[i].imgUrl%>" ></div>
                                <div class="rightinfo">
                                    <h4><%=entertainment[i].name%></h4>
                                    <div class="detailinfo"><%=entertainment[i].description%></div>
                                </div>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                </div>

                <!--餐饮设施-->
                <div class="propulley_detailinfoTitle"><i class="propulley_icofood"></i><h5 class="arrowdown">餐饮设施</h5></div>
                <div class="propulley_detailinfobox">
                    <div class="proinfo_listbox propulley_listbox">
                        <ul>
                            <%for(var i in culinary){%>
                            <li>
                                <div class="imgbox"><img src="<%=culinary[i].imgUrl%>" ></div>
                                <div class="rightinfo">
                                    <h4><%=culinary[i].name%></h4>
                                    <div class="detailinfo">
                                        <p><%=culinary[i].openTime%></p>
                                        <p><%=culinary[i].fees%></p>
                                        <p><%=culinary[i].reservation%></p>
                                        <p><%=culinary[i].clothing%></p>
                                    </div>
                                </div>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<!-- <a href="#" class="recomflexphone"></a>-->
<!--底部连接-->
<div class="bottomBtBox01">
    <div class="linkbox"><a href="#">电话咨询</a><a href="#">在线预订</a></div>
</div>
</body>
</html>
